<div class="container">
    <div class="row">
        <div class="col-6">
            <h4>Sum: 5000 $</h4>
        </div>
        <div class="col-3 offset-2">
            <button (click)="clearCart()" class="btn btn-warning">Clear Cart</button>
        </div>
    </div>
</div>
<div *ngIf="cart != null">
<div class="cart" *ngFor="let product of products">
    <app-shopping-cart-item [product]="product" [amount]="amounts.get(product.id)"></app-shopping-cart-item>
</div>
</div>
<div class="container">
    <div class="row">
        <button (click)="proceedToCheckout()" class="btn btn-success col-10 offset-1 buy-button">Proceed to Checkout
        </button>
    </div>
</div>
