<div class="card">
    <img class="card-img-top" [src]="product.imageUrl" alt="Card image cap">
    <div class="card-body">
        <h3 class="card-title">{{product.name}}</h3>
        <p class="card-text desc">{{product.description}}</p>
        <div class="row">
            <div class="col-6">
                <span class="float-left"><h4>{{product.price}} $</h4></span>
            </div>
            <div *ngIf="userLoggedIn" class="col-6">
                <button class="btn btn-primary float-right" (click)="addToCart()">Add to Cart</button>
            </div>
        </div>
    </div>
</div>
